<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/phpunit/wp-tests-config.php"/>
	</php>
	<testsuites>
		<testsuite name="Plugin">
			<file>tests/phpunit/woocommerce-local-pickup-time_test.php</file>
		</testsuite>
		<testsuite name="Admin">
			<directory suffix="_test.php">tests/phpunit/admin/</directory>
		</testsuite>
		<testsuite name="Public">
			<directory suffix="_test.php">tests/phpunit/public/</directory>
		</testsuite>
	</testsuites>
  <coverage processUncoveredFiles="true">
    <include>
			<file>woocommerce-local-pickup-time.php</file>
      <directory suffix=".php">admin/</directory>
      <directory suffix=".php">public/</directory>
    </include>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
	<logging/>
</phpunit>
